# Address of the PostgreSQL connection. Required.
DATABASE_URL=postgres://postgres:postgres@localhost/recipya

# Base HTTP address of the web application. Required.
RECIPYA_BASE_URL=http://localhost:8078

# Whether to login automatically into the application.
# Possible values: "true" or "false".
# Default: "false".
RECIPYA_IS_AUTOLOGIN=true

# Whether to allow user account registrations.
# Possible values: "true" or "false".
# Default: "false".
RECIPYA_IS_ALLOW_SIGNUPS=false

# Whether the app is a demo version.
# Possible values: "true" or "false".
# Default: "false".
RECIPYA_IS_DEMO=false

#########################################################
# Emails can be sent using SMTP or SendGrid.
#
# To use SMTP, set the following variables:
# - SMTP_FROM_EMAIL
# - SMTP_HOST
# - SMTP_PORT
# - SMTP_USERNAME
# - SMTP_PASSWORD
#

# The email address of the administrator.
# Default: ''
SMTP_FROM_EMAIL=""

# The SMTP server host.
# Default: smtp.gmail.com
SMTP_HOST=smtp.gmail.com

# The SMTP port.
# Default: 587
SMTP_PORT=587

# Your SMTP server username. Can be the same as SMTP_FROM_EMAIL.
# Default: ''
SMTP_USERNAME=""

# Your SMTP server password. Please create an app password if you use gmail (https://myaccount.google.com/apppasswords).
# Default: ''
SMTP_PASSWORD=abcd abcd bcd abcd

#########################################################

# Sets the log level.
# Default: "debug,tokio_cron_scheduler=off,reqwest=warn,hyper=warn"
RUST_LOG="debug,tokio_cron_scheduler=off,reqwest=warn,hyper=warn"
